/* LogoHeader.css */
.logo-header {
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    margin: 10px; /* Margin around the header */
}

.logo {
    width: 90px; /* Set logo size */
    height: 50px; /* Set logo size */
    margin-right: 10px; /* Space between logo and text */
}

.text {
    text-align: left; /* Align text to the left */
    background: linear-gradient(135deg, rgba(0, 100, 0, 1), rgba(0, 0, 139, 1), rgba(0, 0, 0, 1)); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to text */
    -webkit-text-fill-color: transparent; /* Make text transparent so gradient shows */
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    margin: 0; /* Remove default margin */
    text-transform: uppercase; /* Make text uppercase */
}

h1 {
    font-size: 1.5em; /* Size for the first line */
}

h2 {
    font-size: 1em; /* Size for the second line */
    margin-top: 5px; /* Space between lines */
}
